{% extends "layout.html" %}
{% block content %}
    <main class="container">
        <div class="jumbotron hidden-xs">
            <p> have fun <br> with a <strong>paper phone</strong> <br>
            all you need to build your phone is some scissors and glue
        </p>
        </div>

        <h1>Products</h1>
        {% for phone in phones %}
        <article class="col-sm-6 col-lg-4 col-xs-12">
            <div class="framed">
                <div class="prop_left col-sm-6">
                    <img src='{{ url_for("static", filename=phone["image"]) }}' alt='Paper phone {{ phone["name"] }}'/>
                
                    <div class="price">{{ phone["price"] }},-</div>
                </div>
                <div class="prop_right">
                    <h3>{{ phone["name"] }}</h3>
                
                    <p>{{ phone["summary"] }}
                    </p>
                </div>
                <a href='{{ url_for("details", id = phone["id"]) }}'>
                    <div class="btn details">Details</div>
                </a>
            </div>
        </article>
        {% endfor %}
    </main>
{% endblock %}