#countdown {
    margin: 50px auto;
    width: 300px;
    font-size: 3em;
    display: none;  /* hidden by default */
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
}

#timer {
    width: 100%;
    border: 1px solid black;
}

#progressbar {
    width: 100%;
}

.smalltimer {
    margin: 5px 8px 0 0;
    border-top: 1px solid #808080;
    font-size: 1.5em;

}

.timeLeft {
    float:right;
    padding-left: 20px;
}